
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
}


.container {
    width: 85%;
    max-width: 900px;
    margin: auto;
}


header {
    background: #063b33;
    padding: 10px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color:white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}


.hero {
    background: #063b33;
    color: white;
    padding: 90px 0;
}

.hero-content h1 {
    font-size: 45px;
    line-height: 1.3;
}

.hero-content p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    background: #1b8a5a;
    padding: 12px 25px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: .3s;
}

.btn:hover {
    background: #157446;
}


.about {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
}

.profile {
    width: 200px;
    border-radius: 150px;
}

.about-text h2 {
    margin-bottom: 10px;
}



.skills {
    background: #ececec;
    padding: 70px 0;
}

.skills h2 {
    text-align: center;
    margin-bottom: 25px;
}

.skill-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-grid span {
    background: #063b33;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 5px;
    transition: .3s;
}

.skill-grid span:hover {
    background: #0b574c;
    transform: scale(1.07);
}

.skill-grid .skill-icon {
    width: 300px;
    height: 250px;
    object-fit: contain;
}

.projects {
    padding: 70px 0;
}

.projects h2 {
    text-align: center;
    margin-bottom: 30px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    transition: .3s;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 12px;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(64, 52, 52, 0.15);
}


footer {
    background: #063b33;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
}

.footer-icons {
    color: white;
}

